data/breakfast.txt filter=lfs diff=lfs merge=lfs -text
data/corpus.txt filter=lfs diff=lfs merge=lfs -text
data/launch.txt filter=lfs diff=lfs merge=lfs -text
data/sample_submission.csv filter=lfs diff=lfs merge=lfs -text
data/test.csv filter=lfs diff=lfs merge=lfs -text
data/breakfast.tok.txt filter=lfs diff=lfs merge=lfs -text
data/dinner.tok.txt filter=lfs diff=lfs merge=lfs -text
data/dinner.txt filter=lfs diff=lfs merge=lfs -text
data/launch.tok.txt filter=lfs diff=lfs merge=lfs -text
data/train.csv filter=lfs diff=lfs merge=lfs -text
data/corpus.dummy.txt filter=lfs diff=lfs merge=lfs -text
result/submission_catboost.csv filter=lfs diff=lfs merge=lfs -text
result/submission_lgbm.csv filter=lfs diff=lfs merge=lfs -text
data/model.bin filter=lfs diff=lfs merge=lfs -text
data/corpus.train.sub.txt filter=lfs diff=lfs merge=lfs -text
data/model.3000.dim5.mc15.ws5.bin filter=lfs diff=lfs merge=lfs -text
data/process.txt filter=lfs diff=lfs merge=lfs -text
data/breakfast.train.txt filter=lfs diff=lfs merge=lfs -text
data/launch.train.txt filter=lfs diff=lfs merge=lfs -text
data/breakfast.valid.txt filter=lfs diff=lfs merge=lfs -text
data/model.dim5.mc15.ws5.bin filter=lfs diff=lfs merge=lfs -text
data/corpus.valid.sub.txt filter=lfs diff=lfs merge=lfs -text
data/corpus.valid.txt filter=lfs diff=lfs merge=lfs -text
data/dinner.valid.txt filter=lfs diff=lfs merge=lfs -text
data/launch.valid.txt filter=lfs diff=lfs merge=lfs -text
data/temp.csv filter=lfs diff=lfs merge=lfs -text
data/corpus.test.sub.txt filter=lfs diff=lfs merge=lfs -text
data/corpus.train.dummy.txt filter=lfs diff=lfs merge=lfs -text
data/corpus.train.txt filter=lfs diff=lfs merge=lfs -text
data/dinner.train.txt filter=lfs diff=lfs merge=lfs -text
data/bpe.model filter=lfs diff=lfs merge=lfs -text
data/corpus.test.txt filter=lfs diff=lfs merge=lfs -text
data/basemodel.bin filter=lfs diff=lfs merge=lfs -text
result/submission_catboost1.csv filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
